.parent-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.centered-container{
    display: flex;
    height: 450px;
    width: 60%;
    padding: 40px;
    justify-content: space-between;
    background-color: black;
}
.partition2{
    flex: 1;
    padding: 20px;
}
